body {
    background:pink;
    font-family: Arial, Helvetica, sans-serif;
}

.assignments{
    display: flex;
    flex-wrap: wrap;
}

.assignment {
    width: 30%;
    padding:10px;
    margin:10px;
    background:lightgray;
    border-radius: 5px;
    box-shadow: 5px 8px lightseagreen;
}

.assignment img {
    width:200px;
    border: 2px solid burlywood;
    margin-right: 20px;
    border-radius: 5px;
    display: block;
    margin: auto;
}

h1 {
    color:darkorchid;
    text-align: center;
}

a {
    text-decoration: none;
    color: darkcyan;
}
.assignment a:hover{
    color:red;
}